API_KEY=''
API_SECRET=''
ACCESS_PASSPHRASE = ''
POLL_INTERVAL_SECS=5
SYMBOL='BTCUSDT'
MARGIN=50
LEVERAGE=7
REDIS_URL=
RANGER_PRICE_DIFFERENCE=2000.00
RANGER_RISK_PERCENTAGE=0.075
SL_BUFFER_MULTIPLIER=0.50

SMC_ZONE_MULTIPLIER=0.005
SMC_LOOP_INTERVAL=1800
SMC_TIMEFRAME=4H #4H or 15m
SMC_CANDLE_COUNT=777 # 1000 or 333
USE_SMC_INDICATOR=true
USE_ICHIMOKU_INDICATOR=true
SMC_MIN_DISTANCE=1500.00

EXCHANGE=bitget #bitget | bitunix
BITUNIX_API_KEY=
BITUNIX_API_SECRET=
BITUNIX_MAKER_FEE=
BITUNIX_TAKER_FEE=